In [236]:
import pandas as pd
import numpy as np

In [237]:
df_fake = pd.read_csv('Fake.csv')
df_true = pd.read_csv('True.csv')

In [239]:
df_fake.shape

(23481, 4)

In [238]:
df_true.shape

(21417, 4)

In [240]:
df_true.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [241]:
df_fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [242]:
df_fake['class'] = 0
df_true['class'] = 1

In [243]:
df_fake.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [244]:
df_true.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [245]:
df_true_fake = pd.concat([df_true, df_fake])
df_true_fake.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [246]:
df = df_true_fake[['text', 'class']]
df.head()

                                                text  class
0  WASHINGTON (Reuters) - The head of a conservat...      1
1  WASHINGTON (Reuters) - Transgender people will...      1
2  WASHINGTON (Reuters) - The special counsel inv...      1
3  WASHINGTON (Reuters) - Trump campaign adviser ...      1
4  SEATTLE/WASHINGTON (Reuters) - President Donal...      1

In [247]:
df = df.sample(frac = 1)

In [248]:
df.reset_index(inplace = True)
df.head()

   index                                               text  class
0   3952  It s the first week of November, so of course,...      0
1  11705  In case you missed the ridiculous display by L...      0
2   1559  During testimony in front of the Senate Intell...      0
3   7981  WASHINGTON (Reuters) - U.S. Republican preside...      1
4  19210  WELLINGTON (Reuters) - The leaders of New Zeal...      1

In [249]:
df.drop(['index'], axis = 1, inplace = True)

In [250]:
df.head()

                                                text  class
0  It s the first week of November, so of course,...      0
1  In case you missed the ridiculous display by L...      0
2  During testimony in front of the Senate Intell...      0
3  WASHINGTON (Reuters) - U.S. Republican preside...      1
4  WELLINGTON (Reuters) - The leaders of New Zeal...      1

In [251]:
import string, re

In [252]:
def preProcessWord(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('\\W', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]'%re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [253]:
df['text'] = df['text'].apply(preProcessWord)

In [254]:
from sklearn.model_selection import train_test_split

In [255]:
X = df['text']
y = df['class']

In [256]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [257]:
vectorizer = TfidfVectorizer()
vectorizer.fit(X)

TfidfVectorizer()

In [258]:
X = vectorizer.transform(X)

In [259]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [260]:
from sklearn.linear_model import LogisticRegression

In [261]:
LR = LogisticRegression()
LR.fit(X_train, y_train)

LogisticRegression()

In [262]:
pred_lr = LR.predict(X_test)

In [ ]:
LR.score(X_test, y_test)